smart-waste-management-main/node_red/waste_flow.json
[
    {
        "id": "sheet_waste_flow",
        "type": "tab",
        "label": "Smart Waste Flow",
        "disabled": false,
        "info": "Smart Waste Management System flow. Subscribes to MQTT data, calculates status, logs to SQLite, triggers full-bin notifications, and populates the dashboard."
    },
    {
        "id": "ui_base_node",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark"
        },
        "site": {
            "name": "Smart Waste Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockAxis": "true",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "tab_overview",
        "type": "ui_tab",
        "name": "Overview",
        "label": "Overview",
        "theme": "ui_base_node",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "sqlite_db_config",
        "type": "sqlitedb",
        "db": "D:/smart-waste-management/waste_management.db",
        "mode": "RWC"
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "sheet_waste_flow",
        "name": "Subscribe Bins",
        "topic": "waste/bin/data",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "json_parser_node"
            ]
        ]
    },
    {
        "id": "json_parser_node",
        "type": "json",
        "z": "sheet_waste_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "status_calc_node"
            ]
        ]
    },
    {
        "id": "status_calc_node",
        "type": "function",
        "z": "sheet_waste_flow",
        "name": "Calculate Status",
        "func": "// Extract fill level from JSON payload\nlet fill = msg.payload.fill_level;\nlet status = \"Normal\";\n\n// Status classification rules\nif (fill > 80) {\n    status = \"Critical\";\n} else if (fill > 50) {\n    status = \"Warning\";\n}\n\n// Add status field to the payload object\nmsg.payload.status = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "sql_query_builder",
                "ui_custom_dashboard"
            ]
        ]
    },
    {
        "id": "sql_query_builder",
        "type": "function",
        "z": "sheet_waste_flow",
        "name": "Build SQL Query",
        "func": "let p = msg.payload;\n\n// Safely format parameters into SQL query\nmsg.topic = `INSERT INTO waste_data (bin_id, fill_level, weight, latitude, longitude, timestamp, status) VALUES ('${p.bin_id}', ${p.fill_level}, ${p.weight}, ${p.latitude}, ${p.longitude}, '${p.timestamp}', '${p.status}');`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "sqlite_database_node"
            ]
        ]
    },
    {
        "id": "sqlite_database_node",
        "type": "sqlite",
        "z": "sheet_waste_flow",
        "name": "Save to SQLite",
        "mydb": "sqlite_db_config",
        "sqltype": "statement",
        "ret": "plain",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "history_response_formatter"
            ]
        ]
    },
    {
        "id": "group_dashboard",
        "type": "ui_group",
        "name": "Waste Dashboard Group",
        "tab": "tab_overview",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_custom_dashboard",
        "type": "ui_template",
        "z": "sheet_waste_flow",
        "group": "group_dashboard",
        "name": "Custom Beautiful Dashboard",
        "order": 1,
        "width": "12",
        "height": "20",
        "format": "<!-- Include Font -->\n<link href=\"https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n<!-- Include Chart.js (Cloudflare CDNJS) -->\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js\"></script>\n<!-- Include Leaflet.js Map (Cloudflare CDNJS) -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css\" />\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js\"></script>\n\n<style>\n/* Reset and Hide Default Node-RED dashboard elements */\nmd-toolbar.nr-dashboard-toolbar {\n  display: none !important;\n}\nmd-sidenav.nr-dashboard-drawer {\n  display: none !important;\n}\n.nr-dashboard-theme {\n  padding: 0 !important;\n  margin: 0 !important;\n  background-color: #0b1220 !important;\n}\nui-card {\n  box-shadow: none !important;\n  background: transparent !important;\n  border: none !important;\n  padding: 0 !important;\n  margin: 0 !important;\n}\n.nr-dashboard-grid {\n  padding: 0 !important;\n  width: 100% !important;\n  height: 100% !important;\n  background: transparent !important;\n}\n.nr-dashboard-template {\n  padding: 0 !important;\n  margin: 0 !important;\n  width: 100% !important;\n  height: 100% !important;\n}\n\n/* Custom Dashboard Container */\n#custom-dashboard-container {\n  position: fixed;\n  top: 0;\n  left: 0;\n  width: 100vw;\n  height: 100vh;\n  z-index: 99999;\n  background-color: #0b1220;\n  display: flex;\n  flex-direction: column;\n  color: #f8fafc;\n  font-family: 'Outfit', -apple-system, sans-serif !important;\n  overflow: hidden;\n}\n\n/* Scrollbar styling */\n::-webkit-scrollbar {\n  width: 6px;\n  height: 6px;\n}\n::-webkit-scrollbar-track {\n  background: #0b1220;\n}\n::-webkit-scrollbar-thumb {\n  background: #172033;\n  border-radius: 3px;\n  border: 1px solid #334155;\n}\n::-webkit-scrollbar-thumb:hover {\n  background: #00bfff;\n}\n\n/* Header toolbar */\n.dashboard-header {\n  height: 60px;\n  background-color: #172033;\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  padding: 0 20px;\n  border-bottom: 1px solid #334155;\n  box-sizing: border-box;\n}\n.header-logo-container {\n  display: flex;\n  align-items: center;\n  gap: 12px;\n}\n.logo-circle {\n  width: 24px;\n  height: 24px;\n  border-radius: 50%;\n  background-color: #00bfff;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);\n}\n.header-title {\n  font-size: 20px;\n  font-weight: bold;\n  color: #ffffff;\n}\n.header-status-container {\n  display: flex;\n  align-items: center;\n  gap: 25px;\n}\n.broker-info {\n  font-size: 14px;\n  color: #94a3b8;\n}\n.live-badge-container {\n  display: flex;\n  align-items: center;\n  gap: 8px;\n}\n.live-badge-dot {\n  width: 8px;\n  height: 8px;\n  border-radius: 50%;\n  background-color: #10b981;\n  box-shadow: 0 0 8px #10b981;\n}\n.live-badge-text {\n  font-size: 12px;\n  font-weight: bold;\n  color: #10b981;\n  letter-spacing: 0.5px;\n}\n\n/* Dashboard Body layout */\n.dashboard-body {\n  display: flex;\n  flex-grow: 1;\n  height: calc(100vh - 60px);\n  overflow: hidden;\n}\n\n/* Sidebar navigation */\n.dashboard-sidebar {\n  width: 220px;\n  background-color: #0b1220;\n  border-right: 1px solid #172033;\n  display: flex;\n  flex-direction: column;\n  padding: 20px 0;\n  box-sizing: border-box;\n}\n.sidebar-menu {\n  display: flex;\n  flex-direction: column;\n  gap: 8px;\n}\n.sidebar-item {\n  height: 40px;\n  margin: 0 12px;\n  border-radius: 6px;\n  display: flex;\n  align-items: center;\n  gap: 12px;\n  padding: 0 15px;\n  cursor: pointer;\n  color: #94a3b8;\n  font-size: 14px;\n  font-weight: 500;\n  position: relative;\n  transition: all 0.2s ease;\n}\n.sidebar-item:hover {\n  background-color: rgba(255, 255, 255, 0.03);\n  color: #ffffff;\n}\n.sidebar-item.active {\n  background-color: #172033;\n  color: #f8fafc;\n  font-weight: 600;\n}\n.sidebar-item-indicator {\n  position: absolute;\n  left: 0;\n  top: 10px;\n  bottom: 10px;\n  width: 3px;\n  border-radius: 0 2px 2px 0;\n  background-color: #00bfff;\n  opacity: 0;\n  transition: opacity 0.2s ease;\n}\n.sidebar-item.active .sidebar-item-indicator {\n  opacity: 1;\n}\n.sidebar-item-icon {\n  font-size: 16px;\n}\n\n/* Content Area */\n.dashboard-content {\n  flex-grow: 1;\n  background-color: #0b1220;\n  padding: 20px;\n  overflow-y: auto;\n  box-sizing: border-box;\n}\n.tab-content-pane {\n  display: none;\n  animation: fade-in-up 0.3s ease;\n}\n.tab-content-pane.active {\n  display: block;\n}\n@keyframes fade-in-up {\n  from { opacity: 0; transform: translateY(10px); }\n  to { opacity: 1; transform: translateY(0); }\n}\n\n/* KPI Cards Grid */\n.kpi-cards-grid {\n  display: grid;\n  grid-template-columns: repeat(4, 1fr);\n  gap: 20px;\n  margin-bottom: 20px;\n}\n.kpi-card {\n  background-color: #172033;\n  border: 1px solid #334155;\n  border-radius: 8px;\n  padding: 16px 20px;\n  box-sizing: border-box;\n  transition: all 0.2s ease;\n}\n.kpi-card:hover {\n  transform: translateY(-2px);\n  border-color: #00bfff;\n  box-shadow: 0 4px 15px rgba(0, 191, 255, 0.15);\n}\n.kpi-card-inner {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n}\n.kpi-info {\n  display: flex;\n  flex-direction: column;\n  gap: 6px;\n}\n.kpi-label {\n  font-size: 11px;\n  font-weight: bold;\n  color: #94a3b8;\n  letter-spacing: 0.8px;\n}\n.kpi-value {\n  font-size: 32px;\n  font-weight: bold;\n  color: #ffffff;\n  line-height: 1;\n}\n.kpi-icon-container {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n}\n.kpi-icon-bin {\n  font-size: 24px;\n}\n.kpi-icon-status {\n  width: 12px;\n  height: 12px;\n  border-radius: 50%;\n}\n.normal-dot {\n  background-color: #10b981;\n  box-shadow: 0 0 10px #10b981;\n}\n.warning-dot {\n  background-color: #f59e0b;\n  box-shadow: 0 0 10px #f59e0b;\n}\n.critical-dot {\n  background-color: #ef4444;\n  box-shadow: 0 0 10px #ef4444;\n}\n\n/* KPI Card Colors for Text */\n.normal-bins .kpi-value { color: #10b981; }\n.warning-bins .kpi-value { color: #f59e0b; }\n.critical-bins .kpi-value { color: #ef4444; }\n\n/* Diagnostics Banner */\n.diagnostics-banner-card {\n  background-color: #172033;\n  border: 1px solid #334155;\n  border-radius: 8px;\n  padding: 14px 20px;\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  margin-bottom: 20px;\n  box-sizing: border-box;\n}\n.diagnostics-title {\n  font-size: 14px;\n  font-weight: bold;\n  color: #ffffff;\n}\n.diagnostics-stats {\n  display: flex;\n  gap: 40px;\n}\n.diagnostics-records, .diagnostics-updated {\n  font-size: 14px;\n  color: #94a3b8;\n}\n.diagnostics-records strong, .diagnostics-updated strong {\n  color: #00bfff;\n  font-weight: bold;\n}\n\n/* Middle Layout - Table & Map */\n.middle-layout-grid {\n  display: grid;\n  grid-template-columns: 1.4fr 1fr;\n  gap: 20px;\n  margin-bottom: 20px;\n}\n.table-card, .map-card {\n  background-color: #172033;\n  border: 1px solid #334155;\n  border-radius: 8px;\n  padding: 16px 20px;\n  box-sizing: border-box;\n}\n.card-title {\n  font-size: 15px;\n  font-weight: bold;\n  color: #ffffff;\n  margin-top: 0;\n  margin-bottom: 15px;\n}\n\n/* Table styling */\n.table-scroll-container {\n  overflow-x: auto;\n  max-height: 250px;\n}\n.telemetry-table {\n  width: 100%;\n  border-collapse: separate;\n  border-spacing: 0;\n}\n.telemetry-table th {\n  background-color: #1e293b;\n  color: #f8fafc;\n  font-weight: bold;\n  font-size: 12px;\n  text-align: left;\n  padding: 8px 12px;\n  border-bottom: 1.5px solid #334155;\n}\n.telemetry-table td {\n  padding: 10px 12px;\n  font-size: 13px;\n  border-bottom: 1px solid #334155;\n  color: #f8fafc;\n}\n.telemetry-table tr:last-child td {\n  border-bottom: none;\n}\n.telemetry-table tr:hover td {\n  background-color: rgba(255, 255, 255, 0.02);\n}\n.bin-id-cell {\n  color: #00bfff !important;\n  font-weight: bold;\n}\n\n/* Status pills */\n.status-pill {\n  display: inline-block;\n  padding: 2px 8px;\n  border-radius: 3px;\n  font-size: 11px;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n.status-pill.normal {\n  background-color: rgba(16, 185, 129, 0.15);\n  color: #10b981;\n}\n.status-pill.warning {\n  background-color: rgba(245, 158, 11, 0.15);\n  color: #f59e0b;\n}\n.status-pill.critical {\n  background-color: rgba(239, 68, 68, 0.15);\n  color: #ef4444;\n  animation: pill-pulse 1.5s infinite;\n}\n@keyframes pill-pulse {\n  0% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.4); }\n  70% { box-shadow: 0 0 0 4px rgba(239, 68, 68, 0); }\n  100% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0); }\n}\n\n/* Map widget */\n.map-wrapper {\n  height: 250px;\n  background-color: #0b1220;\n  border-radius: 6px;\n  overflow: hidden;\n  border: 1px solid #334155;\n}\n\n/* Custom dark themed Leaflet popups */\n.leaflet-popup-content-wrapper, .leaflet-popup-tip {\n  background: #172033 !important;\n  color: #f8fafc !important;\n  border: 1px solid #334155 !important;\n  border-radius: 4px !important;\n  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5) !important;\n}\n.leaflet-popup-content {\n  font-family: 'Outfit', sans-serif !important;\n  margin: 8px 12px !important;\n}\n.leaflet-popup-close-button {\n  color: #94a3b8 !important;\n}\n.leaflet-popup-close-button:hover {\n  color: #ffffff !important;\n}\n\n/* Chart widget */\n.chart-card {\n  background-color: #172033;\n  border: 1px solid #334155;\n  border-radius: 8px;\n  padding: 16px 20px;\n  box-sizing: border-box;\n}\n.chart-card-header {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  margin-bottom: 15px;\n}\n.chart-legends-container {\n  display: flex;\n  gap: 15px;\n}\n.legend-item {\n  display: flex;\n  align-items: center;\n  gap: 6px;\n  cursor: pointer;\n  transition: opacity 0.2s;\n}\n.legend-item:hover {\n  opacity: 0.8;\n}\n.legend-item.dataset-hidden {\n  opacity: 0.3;\n  text-decoration: line-through;\n}\n.legend-color-dot {\n  width: 8px;\n  height: 8px;\n  border-radius: 50%;\n  display: inline-block;\n}\n.legend-label {\n  font-size: 10px;\n  color: #94a3b8;\n}\n.chart-canvas-container {\n  height: 180px;\n  position: relative;\n  width: 100%;\n}\n\n/* Full screen tabs views */\n.fullscreen-card {\n  background-color: #172033;\n  border: 1px solid #334155;\n  border-radius: 8px;\n  padding: 24px 30px;\n  box-sizing: border-box;\n  min-height: calc(100vh - 100px);\n}\n.section-title {\n  font-size: 20px;\n  font-weight: bold;\n  color: #ffffff;\n  margin-top: 0;\n  margin-bottom: 20px;\n  border-bottom: 1px solid #334155;\n  padding-bottom: 10px;\n}\n.full-table {\n  width: 100%;\n}\n.full-table th {\n  padding: 12px 16px;\n  font-size: 13px;\n}\n.full-table td {\n  padding: 14px 16px;\n  font-size: 14px;\n}\n.map-fullscreen-card {\n  display: flex;\n  flex-direction: column;\n}\n.map-large-wrapper {\n  flex-grow: 1;\n  background-color: #0b1220;\n  border-radius: 6px;\n  min-height: 450px;\n  border: 1px solid #334155;\n  overflow: hidden;\n}\n.trends-large-wrapper {\n  height: 450px;\n  position: relative;\n}\n.large-chart-container {\n  height: 420px;\n}\n\n/* Toast container and boxes */\n.toast-alerts-container {\n  position: fixed;\n  top: 75px;\n  right: 20px;\n  z-index: 100000;\n  display: flex;\n  flex-direction: column;\n  gap: 10px;\n  pointer-events: none;\n}\n.toast-alert {\n  pointer-events: auto;\n  width: 280px;\n  background-color: #1e1b4b;\n  border: 1.5px solid #ef4444;\n  border-radius: 6px;\n  padding: 12px;\n  display: flex;\n  align-items: center;\n  gap: 12px;\n  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);\n  position: relative;\n  animation: slide-in 0.3s ease-out;\n  transition: opacity 0.3s, transform 0.3s;\n}\n.toast-alert.fade-out {\n  opacity: 0;\n  transform: translateY(-10px);\n}\n@keyframes slide-in {\n  from { transform: translateX(100%); opacity: 0; }\n  to { transform: translateX(0); opacity: 1; }\n}\n.toast-icon-container {\n  width: 24px;\n  height: 24px;\n  border-radius: 50%;\n  background-color: #ef4444;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  flex-shrink: 0;\n}\n.toast-icon {\n  color: #ffffff;\n  font-weight: bold;\n  font-size: 14px;\n  line-height: 1;\n}\n.toast-content {\n  flex-grow: 1;\n}\n.toast-title {\n  color: #ffffff;\n  font-size: 11px;\n  font-weight: bold;\n}\n.toast-message {\n  color: #ef4444;\n  font-size: 10px;\n  font-weight: 600;\n  margin-top: 2px;\n}\n.toast-close-btn {\n  background: transparent;\n  border: none;\n  color: #94a3b8;\n  font-size: 16px;\n  cursor: pointer;\n  padding: 0;\n  margin: 0;\n  line-height: 1;\n}\n.toast-close-btn:hover {\n  color: #ffffff;\n}\n\n/* Responsiveness */\n@media (max-width: 1024px) {\n  .kpi-cards-grid {\n    grid-template-columns: repeat(2, 1fr);\n  }\n  .middle-layout-grid {\n    grid-template-columns: 1fr;\n  }\n}\n@media (max-width: 768px) {\n  .dashboard-body {\n    flex-direction: column;\n  }\n  .dashboard-sidebar {\n    width: 100%;\n    flex-direction: row;\n    padding: 10px;\n    border-right: none;\n    border-bottom: 1px solid #172033;\n  }\n  .sidebar-menu {\n    flex-direction: row;\n    flex-wrap: wrap;\n    width: 100%;\n    justify-content: space-around;\n  }\n  .sidebar-item {\n    margin: 4px;\n    flex-grow: 1;\n    justify-content: center;\n  }\n  .sidebar-item-indicator {\n    left: 10px;\n    right: 10px;\n    bottom: 0;\n    top: auto;\n    height: 3px;\n    width: auto;\n    border-radius: 2px 2px 0 0;\n  }\n  .kpi-cards-grid {\n    grid-template-columns: 1fr;\n  }\n}\n</style>\n\n<div id=\"custom-dashboard-container\">\n  <!-- Header Bar -->\n  <div class=\"dashboard-header\">\n    <div class=\"header-logo-container\">\n      <div class=\"logo-circle\">\n        <svg viewBox=\"18 18 24 24\" width=\"16\" height=\"16\">\n          <circle cx=\"30\" cy=\"30\" r=\"12\" fill=\"#00bfff\" />\n          <path d=\"M26 24h8v2h-8zm0 4h8v2h-8zm2 4h4v2h-4z\" fill=\"#ffffff\" />\n        </svg>\n      </div>\n      <span class=\"header-title\">Smart Waste Management System</span>\n    </div>\n    <div class=\"header-status-container\">\n      <span class=\"broker-info\">Local Broker: localhost:1883</span>\n      <div class=\"live-badge-container\">\n        <span class=\"live-badge-dot\"></span>\n        <span class=\"live-badge-text\">LIVE</span>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"dashboard-body\">\n    <!-- Sidebar -->\n    <div class=\"dashboard-sidebar\">\n      <div class=\"sidebar-menu\">\n        <div class=\"sidebar-item active\" data-tab=\"overview\">\n          <span class=\"sidebar-item-indicator\"></span>\n          <span class=\"sidebar-item-icon\">📊</span>\n          <span class=\"sidebar-item-label\">Overview</span>\n        </div>\n        <div class=\"sidebar-item\" data-tab=\"monitoring\">\n          <span class=\"sidebar-item-indicator\"></span>\n          <span class=\"sidebar-item-icon\">📋</span>\n          <span class=\"sidebar-item-label\">Bin Monitoring</span>\n        </div>\n        <div class=\"sidebar-item\" data-tab=\"map\">\n          <span class=\"sidebar-item-indicator\"></span>\n          <span class=\"sidebar-item-icon\">🗺️</span>\n          <span class=\"sidebar-item-label\">Bin Locations Map</span>\n        </div>\n        <div class=\"sidebar-item\" data-tab=\"trends\">\n          <span class=\"sidebar-item-indicator\"></span>\n          <span class=\"sidebar-item-icon\">📈</span>\n          <span class=\"sidebar-item-label\">Analytics & Trends</span>\n        </div>\n      </div>\n    </div>\n\n    <!-- Content Workspace -->\n    <div class=\"dashboard-content\">\n      \n      <!-- Tab: Overview -->\n      <div id=\"tab-content-overview\" class=\"tab-content-pane active\">\n        <!-- Row 1: KPI Cards -->\n        <div class=\"kpi-cards-grid\">\n          <!-- Card 1: Total Bins -->\n          <div class=\"kpi-card total-bins\">\n            <div class=\"kpi-card-inner\">\n              <div class=\"kpi-info\">\n                <span class=\"kpi-label\">TOTAL MONITORED BINS</span>\n                <span class=\"kpi-value\" id=\"kpi-total-bins-val\">5</span>\n              </div>\n              <div class=\"kpi-icon-container\">\n                <span class=\"kpi-icon-bin\">🗑️</span>\n              </div>\n            </div>\n          </div>\n          <!-- Card 2: Normal Bins -->\n          <div class=\"kpi-card normal-bins\">\n            <div class=\"kpi-card-inner\">\n              <div class=\"kpi-info\">\n                <span class=\"kpi-label\">NORMAL (0-50%)</span>\n                <span class=\"kpi-value\" id=\"kpi-normal-bins-val\">0</span>\n              </div>\n              <div class=\"kpi-icon-container\">\n                <span class=\"kpi-icon-status normal-dot\"></span>\n              </div>\n            </div>\n          </div>\n          <!-- Card 3: Warning Bins -->\n          <div class=\"kpi-card warning-bins\">\n            <div class=\"kpi-card-inner\">\n              <div class=\"kpi-info\">\n                <span class=\"kpi-label\">WARNING (51-80%)</span>\n                <span class=\"kpi-value\" id=\"kpi-warning-bins-val\">0</span>\n              </div>\n              <div class=\"kpi-icon-container\">\n                <span class=\"kpi-icon-status warning-dot\"></span>\n              </div>\n            </div>\n          </div>\n          <!-- Card 4: Critical Bins -->\n          <div class=\"kpi-card critical-bins\">\n            <div class=\"kpi-card-inner\">\n              <div class=\"kpi-info\">\n                <span class=\"kpi-label\">CRITICAL (>80%)</span>\n                <span class=\"kpi-value\" id=\"kpi-critical-bins-val\">0</span>\n              </div>\n              <div class=\"kpi-icon-container\">\n                <span class=\"kpi-icon-status critical-dot\"></span>\n              </div>\n            </div>\n          </div>\n        </div>\n\n        <!-- System Diagnostics Banner -->\n        <div class=\"diagnostics-banner-card\">\n          <span class=\"diagnostics-title\">System Diagnostics:</span>\n          <div class=\"diagnostics-stats\">\n            <span class=\"diagnostics-records\">Total Records Logged: <strong id=\"diag-total-records\">0</strong></span>\n            <span class=\"diagnostics-updated\">Last Updated: <strong id=\"diag-last-updated\">Awaiting Telemetry...</strong></span>\n          </div>\n        </div>\n\n        <!-- Row 3: Table and Map -->\n        <div class=\"middle-layout-grid\">\n          <!-- Live Telemetry Table -->\n          <div class=\"table-card\">\n            <h3 class=\"card-title\">Live Telemetry Table</h3>\n            <div class=\"table-scroll-container\">\n              <table class=\"telemetry-table\">\n                <thead>\n                  <tr>\n                    <th>Bin ID</th>\n                    <th>Fill Level</th>\n                    <th>Weight</th>\n                    <th>Status</th>\n                  </tr>\n                </thead>\n                <tbody id=\"telemetry-table-body\">\n                  <!-- Dynamic Rows -->\n                </tbody>\n              </table>\n            </div>\n          </div>\n\n          <!-- Live Pune Map -->\n          <div class=\"map-card\">\n            <h3 class=\"card-title\">Live Pune Map View</h3>\n            <div class=\"map-wrapper\">\n              <div id=\"pune-map\" style=\"width: 100%; height: 100%;\"></div>\n            </div>\n          </div>\n        </div>\n\n        <!-- Row 4: Chart -->\n        <div class=\"chart-card\">\n          <div class=\"chart-card-header\">\n            <h3 class=\"card-title\">Fill Level Telemetry Trends (%)</h3>\n            <div class=\"chart-legends-container\" id=\"chart-legends\"></div>\n          </div>\n          <div class=\"chart-canvas-container\">\n            <canvas id=\"fill-trends-chart\"></canvas>\n          </div>\n        </div>\n      </div>\n\n      <!-- Tab: Bin Monitoring -->\n      <div id=\"tab-content-monitoring\" class=\"tab-content-pane\">\n        <div class=\"fullscreen-card\">\n          <h2 class=\"section-title\">Bin Monitoring</h2>\n          <table class=\"telemetry-table full-table\">\n            <thead>\n              <tr>\n                <th>Bin ID</th>\n                <th>Location</th>\n                <th>Fill Level (%)</th>\n                <th>Weight (kg)</th>\n                <th>Latitude</th>\n                <th>Longitude</th>\n                <th>Last Updated</th>\n                <th>Status</th>\n              </tr>\n            </thead>\n            <tbody id=\"fullscreen-table-body\">\n              <!-- Dynamic Rows -->\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <!-- Tab: Bin Locations Map -->\n      <div id=\"tab-content-map\" class=\"tab-content-pane\">\n        <div class=\"fullscreen-card map-fullscreen-card\">\n          <h2 class=\"section-title\">Bin Locations Map</h2>\n          <div class=\"map-large-wrapper\">\n            <div id=\"large-pune-map\" style=\"width: 100%; height: 100%;\"></div>\n          </div>\n        </div>\n      </div>\n\n      <!-- Tab: Analytics & Trends -->\n      <div id=\"tab-content-trends\" class=\"tab-content-pane\">\n        <div class=\"fullscreen-card\">\n          <h2 class=\"section-title\">Analytics & Trends</h2>\n          <div class=\"trends-large-wrapper\">\n            <div class=\"chart-canvas-container large-chart-container\">\n              <canvas id=\"large-fill-trends-chart\"></canvas>\n            </div>\n          </div>\n        </div>\n      </div>\n\n    </div>\n  </div>\n\n  <!-- Toast Container -->\n  <div id=\"toast-alerts-container\" class=\"toast-alerts-container\"></div>\n</div>\n\n<script>\n(function(scope) {\n  // Config & Constants\n  const BINS_METADATA = {\n    \"BIN001\": { city: \"Pune (Kothrud)\", lat: 18.5074, lon: 73.8077, color: \"#10b981\" },\n    \"BIN002\": { city: \"Pune (Koregaon Park)\", lat: 18.5362, lon: 73.8940, color: \"#a855f7\" },\n    \"BIN003\": { city: \"Pune (Shivajinagar)\", lat: 18.5314, lon: 73.8446, color: \"#ef4444\" },\n    \"BIN004\": { city: \"Pune (Viman Nagar)\", lat: 18.5679, lon: 73.9143, color: \"#f59e0b\" },\n    \"BIN005\": { city: \"Pune (Hadapsar)\", lat: 18.5089, lon: 73.9260, color: \"#00bfff\" }\n  };\n\n  // State\n  let state = {\n    totalRecords: 0,\n    lastUpdated: \"Awaiting Telemetry...\",\n    bins: {\n      \"BIN001\": { fill: 0, weight: 0, status: \"Normal\", timestamp: \"\" },\n      \"BIN002\": { fill: 0, weight: 0, status: \"Normal\", timestamp: \"\" },\n      \"BIN003\": { fill: 0, weight: 0, status: \"Normal\", timestamp: \"\" },\n      \"BIN004\": { fill: 0, weight: 0, status: \"Normal\", timestamp: \"\" },\n      \"BIN005\": { fill: 0, weight: 0, status: \"Normal\", timestamp: \"\" }\n    }\n  };\n\n  let allRecords = [];\n  let activeAlerts = {};\n  let chartInstance = null;\n  let largeChartInstance = null;\n  \n  let mapInstance = null;\n  let largeMapInstance = null;\n  let markers = {};\n  let largeMarkers = {};\n\n  // Listen for Tab Navigation\n  document.querySelectorAll('.sidebar-item').forEach(item => {\n    item.addEventListener('click', () => {\n      document.querySelectorAll('.sidebar-item').forEach(i => i.classList.remove('active'));\n      item.classList.add('active');\n      \n      document.querySelectorAll('.tab-content-pane').forEach(pane => pane.classList.remove('active'));\n      const tabName = item.getAttribute('data-tab');\n      document.getElementById(`tab-content-${tabName}`).classList.add('active');\n      \n      // Trigger size updates on maps & charts to prevent layout issues\n      setTimeout(() => {\n        if (tabName === 'trends' && largeChartInstance) {\n          largeChartInstance.resize();\n          largeChartInstance.update('none');\n        }\n        if (tabName === 'overview') {\n          if (chartInstance) {\n            chartInstance.resize();\n            chartInstance.update('none');\n          }\n          if (mapInstance) {\n            mapInstance.invalidateSize();\n          }\n        }\n        if (tabName === 'map' && largeMapInstance) {\n          largeMapInstance.invalidateSize();\n        }\n      }, 50);\n    });\n  });\n\n  // Watch for Node-RED flow messages\n  scope.$watch('msg', function(msg) {\n    if (!msg || !msg.payload) return;\n    handleIncomingMessage(msg.payload);\n  });\n\n  // Initialize UI components safely when scripts and DOM containers are ready\n  function checkAndInit() {\n    if (typeof L === 'undefined' || typeof Chart === 'undefined' || !document.getElementById('pune-map') || !document.getElementById('large-pune-map')) {\n      setTimeout(checkAndInit, 50);\n    } else {\n      initCharts();\n      renderLegends();\n      initMaps();\n      updateUI();\n      // Fetch history from SQLite once UI is fully initialized\n      scope.send({ payload: \"fetch_history\" });\n    }\n  }\n  checkAndInit();\n\n  // Core functions\n  function handleIncomingMessage(payload) {\n    if (payload.type === \"history\") {\n      const records = payload.data || [];\n      // Records are loaded order by id desc. Reverse to make them chronological\n      allRecords = records.reverse();\n      \n      // Parse the history to extract current latest status of each bin\n      allRecords.forEach(r => {\n        state.bins[r.bin_id] = {\n          fill: r.fill_level,\n          weight: r.weight,\n          status: getStatusFromFill(r.fill_level),\n          timestamp: r.timestamp\n        };\n        \n        // Also populate activeAlerts list based on latest history values\n        if (r.fill_level > 80) {\n          activeAlerts[r.bin_id] = true;\n        } else {\n          delete activeAlerts[r.bin_id];\n        }\n      });\n      \n      // Update charts & UI\n      rebuildChartsFromHistory(allRecords);\n      updateUI();\n      return;\n    }\n    \n    if (payload.type === \"count\") {\n      state.totalRecords = payload.value;\n      document.getElementById('diag-total-records').innerText = formatNumber(state.totalRecords);\n      return;\n    }\n    \n    // Live update\n    if (payload.bin_id) {\n      const binId = payload.bin_id;\n      const fill = payload.fill_level;\n      const weight = payload.weight;\n      const timestamp = payload.timestamp;\n      const status = getStatusFromFill(fill);\n      \n      state.bins[binId] = {\n        fill: fill,\n        weight: weight,\n        status: status,\n        timestamp: timestamp\n      };\n      \n      state.totalRecords += 1;\n      state.lastUpdated = timestamp;\n      \n      // Add to running history array\n      allRecords.push({\n        bin_id: binId,\n        fill_level: fill,\n        weight: weight,\n        timestamp: timestamp\n      });\n      if (allRecords.length > 500) {\n        allRecords.shift();\n      }\n      \n      // Rebuild charts\n      rebuildChartsFromHistory(allRecords);\n      \n      // Trigger toast alerts\n      if (fill > 80) {\n        if (!activeAlerts[binId]) {\n          activeAlerts[binId] = true;\n          showToast(binId, BINS_METADATA[binId].city, fill);\n        }\n      } else {\n        if (activeAlerts[binId]) {\n          delete activeAlerts[binId];\n          // Remove active toast if it exists\n          const existingToast = document.getElementById('toast-' + binId);\n          if (existingToast) {\n            existingToast.remove();\n          }\n        }\n      }\n      \n      updateUI();\n    }\n  }\n\n  function getStatusFromFill(fill) {\n    if (fill > 80) return \"Critical\";\n    if (fill > 50) return \"Warning\";\n    return \"Normal\";\n  }\n\n  function getStatusColor(status) {\n    if (status === \"Critical\") return \"#ef4444\";\n    if (status === \"Warning\") return \"#f59e0b\";\n    return \"#10b981\";\n  }\n\n  function formatNumber(num) {\n    return num.toString().replace(/\\\\B(?=(\\\\d{3})+(?!\\\\d))/g, \",\");\n  }\n\n  function updateUI() {\n    let normalCount = 0;\n    let warningCount = 0;\n    let criticalCount = 0;\n    \n    Object.keys(state.bins).forEach(binId => {\n      const status = state.bins[binId].status;\n      if (status === \"Normal\") normalCount++;\n      else if (status === \"Warning\") warningCount++;\n      else if (status === \"Critical\") criticalCount++;\n    });\n    \n    document.getElementById('kpi-normal-bins-val').innerText = normalCount;\n    document.getElementById('kpi-warning-bins-val').innerText = warningCount;\n    document.getElementById('kpi-critical-bins-val').innerText = criticalCount;\n    \n    document.getElementById('diag-total-records').innerText = formatNumber(state.totalRecords);\n    document.getElementById('diag-last-updated').innerText = state.lastUpdated;\n    \n    // Update map marker colors and popups in real-time\n    Object.keys(state.bins).forEach(binId => {\n      const binState = state.bins[binId];\n      const color = getStatusColor(binState.status);\n      \n      const m = markers[binId];\n      if (m) {\n        m.setStyle({ fillColor: color });\n        m.setPopupContent(getPopupContent(binId));\n      }\n\n      const lm = largeMarkers[binId];\n      if (lm) {\n        lm.setStyle({ fillColor: color });\n        lm.setPopupContent(getPopupContent(binId));\n      }\n    });\n    \n    // Build main table\n    const tableBody = document.getElementById('telemetry-table-body');\n    tableBody.innerHTML = '';\n    Object.keys(state.bins).sort().forEach(binId => {\n      const binState = state.bins[binId];\n      const tr = document.createElement('tr');\n      tr.innerHTML = `\n        <td class=\"bin-id-cell\">${binId}</td>\n        <td>${binState.fill}%</td>\n        <td>${binState.weight} kg</td>\n        <td><span class=\"status-pill ${binState.status.toLowerCase()}\">${binState.status}</span></td>\n      `;\n      tableBody.appendChild(tr);\n    });\n\n    // Build monitoring tab table\n    const fullTableBody = document.getElementById('fullscreen-table-body');\n    if (fullTableBody) {\n      fullTableBody.innerHTML = '';\n      Object.keys(state.bins).sort().forEach(binId => {\n        const binState = state.bins[binId];\n        const meta = BINS_METADATA[binId];\n        const tr = document.createElement('tr');\n        tr.innerHTML = `\n          <td class=\"bin-id-cell\">${binId}</td>\n          <td>${meta.city}</td>\n          <td>${binState.fill}%</td>\n          <td>${binState.weight} kg</td>\n          <td>${meta.lat.toFixed(4)}</td>\n          <td>${meta.lon.toFixed(4)}</td>\n          <td>${binState.timestamp || 'Awaiting...'}</td>\n          <td><span class=\"status-pill ${binState.status.toLowerCase()}\">${binState.status}</span></td>\n        `;\n        fullTableBody.appendChild(tr);\n      });\n    }\n  }\n\n  // Toast alert launcher\n  function showToast(binId, city, fillLevel) {\n    const container = document.getElementById('toast-alerts-container');\n    const toastId = 'toast-' + binId;\n    \n    // Clean duplicates\n    const exist = document.getElementById(toastId);\n    if (exist) exist.remove();\n    \n    const toast = document.createElement('div');\n    toast.id = toastId;\n    toast.className = 'toast-alert';\n    toast.innerHTML = `\n      <div class=\"toast-icon-container\">\n        <span class=\"toast-icon\">!</span>\n      </div>\n      <div class=\"toast-content\">\n        <div class=\"toast-title\">Critical Threshold Alert</div>\n        <div class=\"toast-message\">${binId} (${city}) is full at ${fillLevel}%!</div>\n      </div>\n      <button class=\"toast-close-btn\">&times;</button>\n    `;\n    \n    // Wire close button click handler\n    toast.querySelector('.toast-close-btn').onclick = function() {\n      toast.remove();\n    };\n    \n    container.appendChild(toast);\n    \n    // Auto clear after 8 seconds\n    setTimeout(() => {\n      if (toast.parentElement) {\n        toast.classList.add('fade-out');\n        setTimeout(() => toast.remove(), 300);\n      }\n    }, 8000);\n  }\n\n  // Interactive Leaflet Maps Initialization\n  function initMaps() {\n    // 1. Overview Map\n    mapInstance = L.map('pune-map', {\n      zoomControl: false,\n      attributionControl: false\n    }).setView([18.5314, 73.8567], 11.5); // Center on Pune\n\n    L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {\n      maxZoom: 20,\n      updateWhenIdle: true,\n      updateWhenZooming: false,\n      keepBuffer: 3\n    }).addTo(mapInstance);\n\n    // 2. Fullscreen Map\n    largeMapInstance = L.map('large-pune-map', {\n      zoomControl: true,\n      attributionControl: false\n    }).setView([18.5314, 73.8567], 12);\n\n    L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {\n      maxZoom: 20,\n      updateWhenIdle: true,\n      updateWhenZooming: false,\n      keepBuffer: 3\n    }).addTo(largeMapInstance);\n\n    // Plot markers representing each bin\n    Object.keys(BINS_METADATA).forEach(binId => {\n      const meta = BINS_METADATA[binId];\n      const initialColor = getStatusColor(\"Normal\");\n\n      // Overview Marker (CircleMarker styles beautifully)\n      const marker = L.circleMarker([meta.lat, meta.lon], {\n        radius: 8,\n        fillColor: initialColor,\n        color: '#ffffff',\n        weight: 1,\n        opacity: 1,\n        fillOpacity: 0.8\n      }).addTo(mapInstance);\n      \n      marker.bindPopup(getPopupContent(binId), { closeButton: false });\n      \n      // Hover triggers popup\n      marker.on('mouseover', function (e) {\n        this.openPopup();\n      });\n      marker.on('mouseout', function (e) {\n        this.closePopup();\n      });\n\n      markers[binId] = marker;\n\n      // Fullscreen Marker (stays clickable for evaluation)\n      const largeMarker = L.circleMarker([meta.lat, meta.lon], {\n        radius: 10,\n        fillColor: initialColor,\n        color: '#ffffff',\n        weight: 1.5,\n        opacity: 1,\n        fillOpacity: 0.8\n      }).addTo(largeMapInstance);\n\n      largeMarker.bindPopup(getPopupContent(binId));\n      largeMarkers[binId] = largeMarker;\n    });\n  }\n\n  function getPopupContent(binId) {\n    const meta = BINS_METADATA[binId];\n    const binState = state.bins[binId] || { fill: 0, weight: 0, status: \"Normal\" };\n    const color = getStatusColor(binState.status);\n    return `\n      <div style=\"font-family: 'Outfit', sans-serif;\">\n        <div style=\"font-weight: bold; font-size: 13px; color: #ffffff; margin-bottom: 4px;\">${binId} (${meta.city.replace(\"Pune (\", \"\").replace(\")\", \"\")})</div>\n        <div style=\"font-weight: bold; font-size: 11px; color: ${color}; margin-bottom: 2px;\">Fill Level: ${binState.fill}%</div>\n        <div style=\"font-size: 11px; color: #94a3b8;\">Weight: ${binState.weight} kg (${binState.status})</div>\n      </div>\n    `;\n  }\n\n  // Chart.js Trends Init\n  function initCharts() {\n    const chartCtx = document.getElementById('fill-trends-chart').getContext('2d');\n    const largeChartCtx = document.getElementById('large-fill-trends-chart').getContext('2d');\n    \n    const datasets = Object.keys(BINS_METADATA).map((binId, idx) => ({\n      label: `${binId} (${BINS_METADATA[binId].city.replace(\"Pune (\", \"\").replace(\")\", \"\")})`,\n      data: [],\n      borderColor: BINS_METADATA[binId].color,\n      backgroundColor: 'transparent',\n      borderWidth: 2,\n      tension: 0.3,\n      pointRadius: 0,\n      hoverPointRadius: 4\n    }));\n    \n    // Add threshold helper line\n    datasets.push({\n      label: 'Threshold (80%)',\n      data: [],\n      borderColor: '#ef4444',\n      borderDash: [5, 5],\n      borderWidth: 1.5,\n      fill: false,\n      pointRadius: 0,\n      order: 99\n    });\n\n    const chartOptions = {\n      responsive: true,\n      maintainAspectRatio: false,\n      plugins: {\n        legend: { display: false },\n        tooltip: {\n          mode: 'index',\n          intersect: false,\n          backgroundColor: '#172033',\n          titleFont: { family: 'Outfit', size: 11, weight: 'bold' },\n          bodyFont: { family: 'Outfit', size: 10 },\n          borderColor: '#334155',\n          borderWidth: 1\n        }\n      },\n      scales: {\n        x: {\n          grid: { color: 'rgba(51, 65, 85, 0.2)' },\n          ticks: { color: '#64748b', font: { family: 'Outfit', size: 9 } }\n        },\n        y: {\n          min: 0,\n          max: 100,\n          grid: { color: 'rgba(51, 65, 85, 0.2)' },\n          ticks: {\n            color: '#64748b',\n            font: { family: 'Outfit', size: 9 },\n            callback: function(v) { return v + '%'; }\n          }\n        }\n      }\n    };\n\n    chartInstance = new Chart(chartCtx, {\n      type: 'line',\n      data: { labels: [], datasets: datasets },\n      options: chartOptions\n    });\n\n    // Mirror for fullscreen Analytics tab\n    const largeDatasets = Object.keys(BINS_METADATA).map((binId, idx) => ({\n      label: `${binId} (${BINS_METADATA[binId].city.replace(\"Pune (\", \"\").replace(\")\", \"\")})`,\n      data: [],\n      borderColor: BINS_METADATA[binId].color,\n      backgroundColor: 'transparent',\n      borderWidth: 2.5,\n      tension: 0.3,\n      pointRadius: 1,\n      hoverPointRadius: 5\n    }));\n    \n    largeDatasets.push({\n      label: 'Threshold (80%)',\n      data: [],\n      borderColor: '#ef4444',\n      borderDash: [5, 5],\n      borderWidth: 1.5,\n      fill: false,\n      pointRadius: 0,\n      order: 99\n    });\n\n    largeChartInstance = new Chart(largeChartCtx, {\n      type: 'line',\n      data: { labels: [], datasets: largeDatasets },\n      options: {\n        ...chartOptions,\n        plugins: {\n          ...chartOptions.plugins,\n          legend: {\n            display: true,\n            labels: {\n              color: '#94a3b8',\n              font: { family: 'Outfit', size: 11 }\n            }\n          }\n        },\n        scales: {\n          x: {\n            grid: { color: 'rgba(51, 65, 85, 0.2)' },\n            ticks: { color: '#64748b', font: { family: 'Outfit', size: 10 } }\n          },\n          y: {\n            min: 0,\n            max: 100,\n            grid: { color: 'rgba(51, 65, 85, 0.2)' },\n            ticks: {\n              color: '#64748b',\n              font: { family: 'Outfit', size: 10 },\n              callback: function(v) { return v + '%'; }\n            }\n          }\n        }\n      }\n    });\n  }\n\n  function renderLegends() {\n    const container = document.getElementById('chart-legends');\n    container.innerHTML = '';\n    \n    Object.keys(BINS_METADATA).forEach((binId, idx) => {\n      const meta = BINS_METADATA[binId];\n      const item = document.createElement('div');\n      item.className = 'legend-item';\n      item.innerHTML = `\n        <span class=\"legend-color-dot\" style=\"background-color: ${meta.color}\"></span>\n        <span class=\"legend-label\">${binId} (${meta.city.replace(\"Pune (\", \"\").replace(\")\", \"\")})</span>\n      `;\n      \n      item.onclick = function() {\n        const isVisible = chartInstance.isDatasetVisible(idx);\n        if (isVisible) {\n          chartInstance.hide(idx);\n          largeChartInstance.hide(idx);\n          item.classList.add('dataset-hidden');\n        } else {\n          chartInstance.show(idx);\n          largeChartInstance.show(idx);\n          item.classList.remove('dataset-hidden');\n        }\n      };\n      \n      container.appendChild(item);\n    });\n  }\n\n  function rebuildChartsFromHistory(records) {\n    if (records.length === 0) return;\n    \n    const timeGroups = {};\n    records.forEach(r => {\n      const t = r.timestamp;\n      if (!timeGroups[t]) timeGroups[t] = {};\n      timeGroups[t][r.bin_id] = r.fill_level;\n    });\n\n    const sortedTimes = Object.keys(timeGroups).sort();\n    \n    // Display last 20 timestamps for high density readability\n    const maxPoints = 20;\n    const timesToShow = sortedTimes.slice(-maxPoints);\n    \n    const labels = timesToShow.map(t => t.split(' ')[1] || t);\n    const binIds = Object.keys(BINS_METADATA);\n    \n    binIds.forEach((binId, idx) => {\n      const datasetData = timesToShow.map(t => {\n        return timeGroups[t][binId] !== undefined ? timeGroups[t][binId] : null;\n      });\n      \n      if (chartInstance) chartInstance.data.datasets[idx].data = datasetData;\n      if (largeChartInstance) largeChartInstance.data.datasets[idx].data = datasetData;\n    });\n    \n    const thresholdData = timesToShow.map(() => 80);\n    const thresholdIdx = binIds.length;\n    \n    if (chartInstance) {\n      chartInstance.data.labels = labels;\n      chartInstance.data.datasets[thresholdIdx].data = thresholdData;\n      chartInstance.update('none');\n    }\n    if (largeChartInstance) {\n      largeChartInstance.data.labels = labels;\n      largeChartInstance.data.datasets[thresholdIdx].data = thresholdData;\n      largeChartInstance.update('none');\n    }\n  }\n\n})(scope);\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "history_request_router"
            ]
        ]
    },
    {
        "id": "history_request_router",
        "type": "function",
        "z": "sheet_waste_flow",
        "name": "Route History Requests",
        "func": "if (msg.payload === \"fetch_history\") {\n    // Output 1: Query historical data\n    let msg1 = {\n        topic: \"SELECT bin_id, fill_level, weight, latitude, longitude, timestamp FROM waste_data ORDER BY id DESC LIMIT 200\",\n        query_type: \"history\"\n    };\n    // Output 2: Query total count of records\n    let msg2 = {\n        topic: \"SELECT COUNT(*) AS total_records FROM waste_data\",\n        query_type: \"count\"\n    };\n    return [msg1, msg2];\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "sqlite_database_node"
            ],
            [
                "sqlite_database_node"
            ]
        ]
    },
    {
        "id": "history_response_formatter",
        "type": "function",
        "z": "sheet_waste_flow",
        "name": "Format History Response",
        "func": "if (msg.query_type === \"history\") {\n    msg.payload = {\n        type: \"history\",\n        data: msg.payload\n    };\n    return msg;\n} else if (msg.query_type === \"count\") {\n    msg.payload = {\n        type: \"count\",\n        value: msg.payload[0].total_records\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 320,
        "wires": [
            [
                "ui_custom_dashboard"
            ]
        ]
    }
]